* {
    box-sizing: border-box;
    color: #ffffff;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 400;
    background-color: #DC384E;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    border: 1px solid white;
    padding: 15px 30px;
    font-size: 20px;
    margin-right: 16px;
    cursor: pointer;
}

.active {
    background-color: white;
    color: #333339;

}

.container {
    max-width: 1200px;
    min-height: 500px;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #DC384E;
}

.header {
    min-height: 150px;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.header-list {
    display: flex;
}

.header-list li {
    padding: 0 5px;
    margin-right: 40px;
}

.header-list li:last-child {
    margin-right: 0;
}

.header-list li a:hover {
    color: #E9C443;
    transition: 0.3s ease;
}

.right-side-header-burger-menu {
    display: flex;
    align-items: center;
}

.right-side-header-burger-menu .burger-menu {
    margin-left: 20px;
}

.trolley-link-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trolley-link-img:hover {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.trolley-img {
    width: 25px;
    fill: white;
    background-color: white;
    transition: 0.5s ease;
}

.burger-menu {
    width: 30px;
    height: auto;
    cursor: pointer;
    display: none;
}

.burger-menu .line {
    width: 30px;
    height: 1px;
    background-color: #EFF1F4;
    margin: 10px 0;
}

.one {
    display: flex;
}

.left-side-sectionOne {
    padding-right: 50px;
}

.left-side-sectionOne h2 {
    font-size: 68px;
    font-weight: 400;
    margin-bottom: 50px;
}

.left-side-sectionOne p {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 60px;
}

.right-side-sectionOne {
}

.right-side-sectionOne img {
    width: 570px;
}

.second {
    margin-top: 150px;
    margin-bottom: 200px;
}

.second h3 {
    font-size: 30px;
    margin-bottom: 80px;
}

.wrapper-benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    max-width: 320px;
}

.round {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.round img {
    width: 25px;
    background-color: white;
}

.card-title {
    font-size: 22px;
    margin-bottom: 20px;
}

.three {
    display: flex;
    align-items: center;
}

.three img {
    width: 550px;
}

.right-side-sectionThree {
    padding-left: 40px;
}

.right-side-sectionThree h3 {
    font-size: 68px;
    margin-bottom: 50px;
}

.four {
    margin-top: 150px;
    margin-bottom: 250px;
}

.wrapper-card-four {
    margin: 0 auto;
    max-width: 835px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 0;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.title-opportunity-card {
    font-size: 26px;
    max-width: 360px;
}

.title-opportunity-number {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    flex-direction: column;
}

.title-opportunity-number .number {
    font-size: 72px;
}

.title-opportunity-number .description-number {
    font-size: 22px;
    font-weight: 600;
}

.five {
    margin-bottom: 350px;
}

.text-center {
    text-align: center;
}

.section-five-title {
    font-size: 68px;
    margin-bottom: 50px;
}

.wrapper-button-five-section {
    margin-top: 50px;
    margin-bottom: 100px;
}

.wrapper-button-five-section .default {
    margin-right: 0;
}

.default:hover {
    background-color: #F25570;
    border-color: #F25570;
    transition: 0.3s ease;
    color: white;
}

.wrapper-card-product {
    max-width: 390px;
}

.wrapper-card-product:hover {
    cursor: pointer;
}

.round-card-circle {
    max-width: 385px;
    min-width: 385px;
    min-height: 385px;
    max-height: 385px;
    border-radius: 50%;
    background-color: #F25570;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-3deg);
    background-image: url("../img/soup.png");
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center;
}

.round-card-circle img {
    width: 100%;
    height: 100%;
}

.title-card-portion {
    color: #FFE180;
    margin-bottom: 25px;
    font-size: 24px;
}

.title-card-name {
    font-size: 26px;
}

.box-card-soup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    flex-wrap: wrap;
}

/*.wrapper-card-product:nth-child(2n) {*/
/*    margin-top: 90px;*/
/*}*/


.wrapper-card-product p {
    font-size: 16px;
}

.wrapper-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.price-card {
    font-size: 30px;
}

.to-basket {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #F25570;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}

.six {
    margin: 100px 0 100px;
}

.reviews {
    font-size: 68px;
    color: #333333;
    margin-bottom: 100px;
}

.wrapper-slider {
    display: flex;
    justify-content: center;
    gap: 35px;
}

.wrapper-slider p {
    background-color: white;
    padding: 20px 20px 60px 20px;
    color: #333333;
    min-height: 250px;
    width: 33%;
    border-radius: 15px;
}

.wrapper-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}

.arrow-left, .arrow-right {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #F5F7F8;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.arrow-left:hover, .arrow-right:hover {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.5);
}

.wrapper-arrow button img {
    background-color: #F5F7F8;
}

.seven {
    margin: 230px 0 270px;
}

.seven-title {
    font-size: 68px;
    margin-bottom: 50px;
    color: #333333;
}

.wrapper-card {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.card-media {
    max-width: 30%;
    cursor: pointer;
}

.card-media img {
    max-width: 100%;
    margin-bottom: 35px;
}

.card-media img:hover {
    transform: scale(1.15);
    transition: 1s ease;
}

.card-media h4 {
    color: #333333;
    font-size: 22px;
    font-weight: 600;
}

.card-media p {
    color: #EFF1F4;
}

.eight {
    margin-top: 150px;
    margin-bottom: 150px;
}

.faq {
    font-size: 68px;
    color: #333333;
    margin-bottom: 60px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid #EFF1F4;
}

.item:last-child {
    border-bottom: 1px solid #EFF1F4;
}

.title-faq {
    font-size: 24px;
    line-height: 1.4;
    color: #333333;
}

.arrow {
    cursor: pointer;
}

.arrow img {
    width: 12px;
    height: 10px;
}

.nine {
    margin-top: 150px;
    margin-bottom: 200px;
}

.title-nine {
    font-size: 68px;
    color: #333333;
    margin-bottom: 75px;
}

.nine .wrapper-img {
    width: 100%;
    height: 460px;
    background-color: #F7F7F7;
    background-image: url("../img/people-image.png");
    background-repeat: no-repeat;
    background-size: 380px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.nine .wrapper-img img {
    width: 355px;
}

.nine .wrapper-card {
    margin-bottom: 75px;
}

.nine h4 {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 75px;
}

.nine .wrapper-card .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.nine .wrapper-card .card .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.nine .wrapper-card .card:nth-child(1) .circle {
    background-color: #DE692B;
}

.nine .wrapper-card .card:nth-child(2) .circle {
    background-color: #62B766;
}

.nine .wrapper-card .card:nth-child(3) .circle {
    background-color: #E9C443;
}

.nine .wrapper-card .card h5 {
    color: #333333;
}

.nine .wrapper-button .default {
    width: 240px;
}

.footer .wrapper-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.footer-part-one a img {
    margin-bottom: 30px;
}

.footer-part-one .title {
    margin-bottom: 10px;
}

.footer-part-four {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-part-two ul li, .footer-part-three ul li, .footer-part-four .language, .footer-part-four a {
    margin-bottom: 20px;
}

.footer ul li a {
    font-size: 22px;
}

.footer a:hover {
    color: #E9C443;
    transition: 0.3s ease;
}

.footer .language {
    cursor: pointer;
}

.footer .language:hover {
    color: #E9C443;
    transition: 0.3s ease;
}

.footer-part-four .wrapper-social-media svg {
    width: 25px;
    fill: #ffffff;
    cursor: pointer;
}

.footer svg:hover {
    fill: #E9C443;
}

.footer .some-text {
    padding: 20px 0;
    color: #EFF1F4;
    font-size: 16px;
}

@media only screen and (max-width: 1150px) {
    .header-list li {
        margin-right: 30px;
    }

    .wrapper-button {
        display: flex;
        flex-wrap: wrap;
    }

    .wrapper-button .default {
        margin-bottom: 20px;
        width: 240px;
    }

    .right-side-sectionOne {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .right-side-sectionOne img {
        width: 500px;
    }

    .three img {
        width: 500px;
    }

    .nine .wrapper-button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        margin-bottom: 70px;
    }

    .header-list {
        display: none;
    }

    .right-side-header-burger-menu .burger-menu {
        display: block;
    }

    .one {
        flex-wrap: wrap;
    }

    .right-side-sectionOne {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .second .wrapper-benefits .card {
        padding: 0 15px;
    }

    .three img {
        width: 350px;
    }

    .right-side-sectionThree h3 {
        font-size: 58px;
    }

    .box-card-soup {
        justify-content: space-evenly;
    }

    .wrapper-card-product {
        max-width: 300px;
    }

    .wrapper-card-product .round-card-circle {
        max-width: 300px;
        min-width: 300px;
        min-height: 300px;
        max-height: 300px;
    }

    .five {
        margin-bottom: 200px;
    }

    .wrapper-slider {
        flex-wrap: wrap;
        gap: 5px;
    }

    .wrapper-slider p {
        width: 80%;
        min-height: 100px;
    }

    .footer .wrapper-content {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .one .wrapper-button {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .second .wrapper-benefits {
        flex-wrap: wrap;
    }

    .second .wrapper-benefits .card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .three {
        flex-wrap: wrap;
    }

    .three img {
        order: 2;
        width: 75%;
    }

    .three .right-side-sectionThree {
        padding-left: 0;
    }

    .three .right-side-sectionThree h3 {
        font-size: 40px;
    }

    .four .wrapper-card-four .title-opportunity-card {
        font-size: 24px;
    }

    .title-opportunity-number .number {
        font-size: 60px;
    }

    .title-opportunity-number .description-number {
        font-size: 20px;
    }

    .section-five-title {
        font-size: 42px;
    }

    .five {
        margin-bottom: 150px;
    }

    .five .wrapper-button-five-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .five .wrapper-button-five-section .default {
        font-size: 18px;
        width: 240px;
    }

    .seven {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .seven .seven-title {
        font-size: 40px;
    }

    .seven .wrapper-card {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }

    .seven .wrapper-card .card-media {
        max-width: 80%;
        margin-bottom: 75px;
    }

    .eight {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .nine {
        margin-bottom: 120px;
    }

    .nine .wrapper-card {
        flex-wrap: wrap;
        margin-bottom: 50px;
    }

    .nine .wrapper-card .card {
        max-width: 100%;
        margin-bottom: 50px;
    }

    .nine .wrapper-button {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nine .wrapper-button .default {
        width: 260px;
    }

    .footer .wrapper-content {
        flex-wrap: wrap;
        padding-bottom: 50px;
    }

    .footer .wrapper-content :nth-child(3) {
        order: 1;
    }

    .footer-part-one, .footer-part-two, .footer-part-three, .footer-part-four {
        width: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .right-side-sectionOne img {
        width: 360px;
    }

    .three img {
        width: 100%;
    }

    .four .title-opportunity-card {
        font-size: 22px;
    }

    .number {
        font-size: 56px;
    }

    .description-number {
        font-size: 18px;
    }

    .nine .wrapper-img {
        background-size: 320px;
        height: 380px;
    }

    .title-nine, .six .reviews, .eight .faq {
        font-size: 50px;
    }

    .footer-part-one, .footer-part-two, .footer-part-three, .footer-part-four {
        width: 100%;
        margin-bottom: 25px;
    }

    .footer .wrapper-content :nth-child(4) {
        order: 4;
    }

    ul {
        padding: 0;
    }
}

